#parent{
    width: 200px;
    height: 100px;
}

#first,#second{
    width: 100px;
    height: 100px;
    float: left;
}

#first{
    background-color: blue;
    border-radius: 50% 0% 0% 50%;
}
#second{
    background-color: red;
    border-radius: 0% 50% 50% 0%;
} 

#linear{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(to right, blue 50%,red 50%);
    border-radius: 100px;
}

div{
    width: 200px;
    height: 100px;
}

#red_capsule{ 
    background-color: red;
    border-radius: 100px;
}
#blue_capsule{
    width: 50%;
    background-color: blue;
    border-radius: 50% 0% 0% 50%;

}