h1{
    background-color: antiquewhite;
    width: fit-content;
    /* padding: 10px;
    padding: 10px 20px;
    padding: 10px 20px 30px;
    padding: 10px 20px 30px 40px; */

    padding: 20px;
    margin-bottom: 10px;
}

img{
    width: 300px;
    height: 300px;
    border: 30px ridge burlywood;
    padding: 20px; 
}

*{
    padding: 0px;
    margin: 0px;
}