/* *{
    color: red;
} */

/* body{
    color: red;
} */

/* h1{
    color: darkblue;
    background-color: lightblue;
    width: fit-content;
}
p{
    color: pink;
    background-color: black;
} */

/* #core_java{
    color: red;
}
#web_technology{
    color: blueviolet;
}
#click_button{
    color: white;
    background-color:#0b57d0;
    border: none;
}
#click_here{
    color: white;
    background-color: blue;
    border: none;
} */

.text_red{
    color: red;
}
.text_blue{
    color: blue;
}

.table_border{
    border: 2px solid red;
    border-collapse: collapse;
}

th,td{
    border: 1px solid blue;
}
div{
    height: 50px;
}
